.square {
    background: red;
    width: 100px;
    height: 100px;
    position: relative;
    transition: all 0.5s 0s ease-in;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radius {
    border-radius: 50px;
}